.super-mario {
    
    width: 200px;
    top: 200px;
    position: absolute;
    top: 50px;
    z-index: 1; 
  

}
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }